<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/site.css">
</head>
<body>
<div class='container'>
<h1>Alive Ping Service</h1>

<div class='secondsDiv'>
<span>Version:</span> 1.0.0<BR>
<span>Server Name:</span> <%= servername %><BR>
<span>Last Call Date:</span> <%= lastcalldate %><BR>
<span>Last Call Time:</span> <%= lastcalltime %><BR>
<span>Seconds Elapsed Since Last Attempt:</span> <%= elapsedtime %><BR>
<span>Last Message/Error:</span> <%= lasterror %><BR>
</p>
</div>

</body>
</html>